/* null styles */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------------------------------------------------------*/
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/*-------------------------------------------------------------------------------*/
.main {
  width: 100vw;
  max-width: 1440px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

.card {
  background-color: var(--white);
  max-width: 350px;
  padding: 20px;
  margin: 70px auto 50px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-bottom: 1em;
}
.img-container > img {
  border-radius: 10px;
}
.text {
  text-align: center;
  padding: 5px;
}
.title {
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--dark-blue);
  font-size: 1.5rem;
}

.describe {
  color: var(--grayish-blue);
}

.attribution {
  display: flex;
  justify-content: flex-end;
}
.attribution > p {
  padding: 20px;
}
@media (max-width: 678px) {
  .card {
    width: 80%;
  }
  .attribution {
    text-align: end;
  }
}
